# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#LATEX
*.tex~
*.sty~
*.tex.backup
*.sty.backup
*.toc
*.aux
*.fdb_latexmk
*.tex.kate-swp
*.bbl
*.blg
